@import "tailwindcss";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-ultra: "Ultra", serif;
    --font-kellySlab: "Kelly Slab", serif;
    --font-amatic: "Amatic SC", sans-serif;
    /* --color-crimsonred: #d7263d; */
    --color-crimsonred: #dc143c;

    --animate-border-blink: border-blink 1s step-end infinite;
    @keyframes border-blink {
        50% {
            border-color: transparent;
        }
    }

    --animate-slow-spin: spin 10s linear infinite;
    --animate-very-slow-spin: spin 20s linear infinite;
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

@utility text-shadow-md {
    text-shadow: 2px 2px 4px #000000ff;
}

.scrollbar-webkit-hide::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .bg-soft-grid-fade {
        background-size: 40px 40px;
        background-image: repeating-linear-gradient(
                to right,
                /* TEST: Change this to a bright color */
                    rgb(var(--red-500) / 0.5) 1px,
                transparent 1px,
                transparent 40px
            ),
            repeating-linear-gradient(
                to bottom,
                /* TEST: Change this to a bright color */
                    rgb(var(--red-500) / 0.5) 1px,
                transparent 1px,
                transparent 40px
            );
        mask-image: linear-gradient(to bottom, black 60%, transparent);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fade-in-up {
    animation: fade-in-up 0.7s ease-out both;
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fade-in-down {
    animation: fade-in-down 0.7s ease-out both;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.animate-fade-in-left {
    animation: fade-in-left 0.7s ease-out both;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.animate-fade-in-right {
    animation: fade-in-right 0.7s ease-out both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animate-fade-in {
    animation: fade-in 0.7s ease-in-out both;
}

.slideshow {
    width: 100%;
}

.typewriter p {
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1.5px solid #d1d5dc;
    animation: typing 2s steps(22) forwards, blink 1s step-end infinite;
}
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.shine-effect::before {
    /* This is the shine element */
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    /* The glint gradient */
    background: linear-gradient(
        100deg,
        transparent 20%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 80%
    );

    /* Start off-screen to the left */
    left: -100%;
}

.shine-effect:hover::before {
    /* on hover, move it off-screen to the right */
    left: 100%;

    /* Apply transition during hover state */
    transition: left 1s cubic-bezier(0.23, 1, 0.32, 1);
}
